*{
   padding:0;
   margin:0;
   text-align: center;
   align: center;
   width:100%;
   font-family: 'Noto Serif KR', serif;
   background-color: #F1F2F5;
}
div {
   margin-left: auto;
   margin-right: auto;
   width: 70%;
   text-align: center;
}
header
{
   margin:20px 10px 40px 0px;
   font-size: 60px;
   text-align: center;
}
body {
   color: black;
   font-family: '맑은 고딕', '돋음','고딕';
}
p {
   background-color: #D3D3D6;
}
img
{
	width: 100px;
	height: 100px;
	float: left;
}
a {
  text-decoration: underline;
   color: #1E527E; 
   background-color: #D3D3D6;   
}
input {
	height : 30pt;
	width : 30%;

}
.btn {
   cursor: pointer;
}